
<form  #voyageFormAjout="ngForm" id="voyageFormAjout" (ngSubmit)="onAdd(tableVoyages, voyageFormAjout)">
    <p>Ajoutez un nouveau forfait</p>
    <input type="text" name="destination" [style.width.px]=327 required minlength="2" maxlength="50" [(ngModel)]="newVoyage.destination" matInput #nom="ngModel" placeholder="Ajouter un Forfait">
    <button matSuffix type="submit" mat-icon-button [disabled]="!voyageFormAjout.form.valid">
    <i class="material-icons">add</i>
    </button>
</form>

<table mat-table #tableVoyages [dataSource]="voyages">
    <ng-container matColumnDef="destination">
        <th mat-header-cell *matHeaderCellDef> Destination </th>
        <td mat-cell *matCellDef="let voyages">
            <!-- <form #heroFormEdition="ngForm" id="voyageFormEdition" (ngSubmit)="voyageFormEdition.form.valid && 
                    onEdit(VoyageFormEdition)">
                <mat-form-field *ngIf="(selectedVoyage && selectedVoyage === voyages);else editdestination;" class="input-full-width">
                    <input name="selectedVoyagesDestination" [(ngModel)]="selectedVoyage.destination" matInput required minlength="2" 
                        maxlength="50" name="destinationEdition" #destinationEdition="ngModel">
                    <mat-error *ngIf="destinationEdition.invalid && (destinationEdition.dirty || destinationEdition.touched) && 
                    destinationEdition.hasError('required')">La destination est obligatoire.</mat-error>
                    <mat-error *ngIf="destinationEdition.invalid && (destinationEdition.dirty || destinationEdition.touched) && 
                    destinationEdition.hasError('minlength')">La destination doit contenir au moins 2 caractères.</mat-error>
                    <mat-error *ngIf="destinationEdition.invalid && (destinationEdition.dirty || destinationEdition.touched) && 
                    destinationEdition.hasError('maxlength')">La destination doit contenir au maximum 50 caractères.</mat-error>
                </mat-form-field>
            </form> -->
            <ng-template #editNom><span (click)="onSelect(voyages)">{{voyages.destination}}</span></ng-template>
        </td>
    </ng-container>
    <ng-container matColumnDef="villeDepart">
        <th mat-header-cell *matHeaderCellDef> Ville de départ: </th>
        <td mat-cell *matCellDef="let voyages"> {{voyages.villeDepart}} </td> 
    </ng-container>
    <ng-container matColumnDef="dateDepart">
        <th mat-header-cell *matHeaderCellDef> Date de départ: </th>
        <td mat-cell *matCellDef="let voyages"> {{voyages.dateDepart}} </td> 
    </ng-container>
    <ng-container matColumnDef="hotel">
        <th mat-header-cell *matHeaderCellDef> Hotel: </th>
        <td mat-cell *matCellDef="let voyages"> {{voyages.hotel.nom}} </td> 
    </ng-container>
    <ng-container matColumnDef="dateRetour">
        <th mat-header-cell *matHeaderCellDef> Date de Retour: </th>
        <td mat-cell *matCellDef="let voyages"> {{voyages.dateRetour}} </td> 
    </ng-container>
    <ng-container matColumnDef="prix">
        <th mat-header-cell *matHeaderCellDef> Prix: </th>
        <td mat-cell *matCellDef="let voyages"> {{voyages.prix}} </td> 
    </ng-container>
    <ng-container matColumnDef="rabais">
        <th mat-header-cell *matHeaderCellDef> Prix: </th>
        <td mat-cell *matCellDef="let voyages"> {{voyages.rabais}} </td> 
    </ng-container>
    <ng-container matColumnDef="vedette">
        <th mat-header-cell *matHeaderCellDef> Prix: </th>
        <td mat-cell *matCellDef="let voyages"> {{voyages.vedette}} </td> 
    </ng-container>
    

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let voyages" class="boutonsAction">
            <button *ngIf="(selectedVoyage && selectedVoyage === voyages);else editButton;" color="primary" form="voyageFormEdition" 
     mat-button><i class="material-icons">done</i></button>
            <ng-template #editButton>
                <form (ngSubmit)="onSelect(voyages)">
                    <button mat-button><i class="material-icons">edit</i></button>
                </form>
            </ng-template>
            <form (ngSubmit)="onDelete(voyages)">
                <button mat-button ><i class="material-icons">delete</i></button>
            </form>
        </td>
     </ng-container>
 
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      
</table>
